html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #333;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 800px;
  margin: 0 auto;
  background: #f7f7f7;
}

textarea, input[type="text"], input[type="number"] {
  color: #3d3de6;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

p, label {
  line-height: 1.6;
}

label {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

.sigCanvas {
  border: 1px solid #999;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 800px) {
  body {
    width: 100%;
    padding: 20px;
  }
}
